In [6]:
import pandas as pd
#
#from random import randn
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                     'foo', 'bar', 'foo', 'foo'],
                  'B' : ['one', 'one', 'two', 'three',
                        'two', 'two', 'one', 'three'],})
df.head()
grouped = df.groupby('A')
grouped
#<pandas.core.groupby.DataFrameGroupBy object at 0x04E2F630>
test = grouped.aggregate(np.sum)
test

     A      B
0  foo    one
1  bar    one
2  foo    two
3  bar  three
4  foo    two

                     B
A
bar        onethreetwo
foo  onetwotwoonethree

In [10]:
import json
sample = {'a':[{"label":201,"id":201},{"label": 202, "id":202}]}
with open('result.json', 'w') as fp:
    json.dump(sample, fp)

In [11]:
import json

df2 = pd.read_csv('temp_bq_data/hackathon_data.csv')
cust_uni = df2['customer_id'].unique()
cust_uni = list(cust_uni)
cust_uni = [int(x) for x in cust_uni]

In [14]:
import json
sample = dict()
sample['data'] = list()
for loc, i in enumerate(cust_uni):
    temp = dict()
    temp['label'] = str(i)
    temp['id'] = str(i)
    sample['data'].append(temp)


with open('result.json', 'w') as fp:
    json.dump(sample, fp)